# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf


# Keep only addons folder when exporting (Download ZIP)
* export-ignore

# Allow addons folder and everything inside
addons/** !export-ignore
